$primary-color: #0053b3;
$secondary-color: #172b4d;
$third-color: #6b778c;

.primary {
    color: #0053b3;
    font-size: 12px;
    line-height: 18px;
}

h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0px;
    color: $secondary-color;
}

.my {
    margin-top: 4px ;
}

.line {
    width: 205px;
    height: 0.8px;
    margin: 10px 0 10px 10px;
    border: 0.8px solid #edeff0;
    opacity: 0.6;
}

.rectangle {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 5px;
    background: #e9f2f8;
}


.outside-dotted {
    padding: 8px;

    & .dotted {
        width: 2.4px;
        height: 2.4px;
        background-color: #42526e;
        border-radius: 50%;
    }
}


.font-features {
    font-size: 12.8px;
    font-weight: 600;
    line-height: 1.13;
    color: $primary-color;
}

.font-title {
    font-size: 14px;
    font-weight: bold;
    color: $secondary-color;
}

.font-subtitle {
    font-size: 14px;
    padding: 7px 0;
    color: $secondary-color;
}