@import 'ultilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #333;
    background: #fafdff;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

li {
    list-style: none;
    color: $secondary-color;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr 1.4fr;
    grid-gap: 3.2rem;
}

.container {
    height: 100%;
    background: #fafdff;
    margin: 2.6rem 5.4rem 0 6.8rem;
}

#section-left {
    width: 225px;
    margin-right: 5px;

    .features-box {

        & .label-search {
            width: 100%;
            height: 30px;
            border: solid 1px #cddbe3;
            border-radius: 3px;
            background-color: #fff;
            margin: 15px 0 15px;
            padding: 2px 0 0 10px;
            outline: none;

            &::placeholder {
                font-size: 12px;
                line-height: 30px;
                color: #a1a8cc;
            }
        }

        & .content {

            & .pointer {

                & a {
                    display: flex;
                    align-items: center;
                }
            }

            & .font-features {
                margin-left: 7px;
            }
        }

        & .db {
            display: flex;
            font-size: 11.6px;
            font-weight: 700;
            line-height: 1.29;
            padding: 5px 15px;
        }

        & ul li {
            display: flex;
            font-size: 11.6px;
            font-weight: 500;
            line-height: 1.29;
            color: $secondary-color;
            padding: 8px 15px;

            &:first-child {
                padding-top: 10px
            }
        }


        & .typical-content {


            & .worktracking {
                margin-top: 20px;
            }

            & .inside-typical-content {
                display: flex;
                align-items: center;

                & .pointer {

                    & a {
                        display: flex;
                        align-items: center;

                        & i {
                            font-size: 8px;
                            color: #172b4d;
                        }
                    }
                }

                & .typical-content-right {
                    & .font-features {
                        color: #172b4d;
                        margin-left: 8px;
                    }
                }
            }

            & .outside-typical-content {
                display: flex;
                justify-content: center;
            }
        }

        & .leave-management {
            & .inside-typical-content {
                margin-top: 10px;
            }
        }

    }


    .trending-topics-box {
        & h2 {
            padding: 25px 0 22px 0;
        }

        .trending-group {

            & .context {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
            }

            & .group:first-child {
                margin-bottom: 0;
            }

            & .group {
                display: flex;
                margin-bottom: 20px;


                & .group-title {
                    font-size: 12.8px;
                    color: $secondary-color;
                    font-weight: bold;

                }

                & .group-subtitle {
                    font-size: 11px;
                    color: #6b778c;
                    margin-top: 7px;
                }


            }

            & .group-block {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }
}

#section-middle {
    width: 790px;

    & .header {
        display: flex;
        flex-direction: column;

        & h2 {
            font-size: 14px;

        }

        & ul {
            display: flex;

            & li {
                font-size: 13.5px;
                line-height: 25px;
                font-weight: 500;
                color: #6b778c;
                margin-right: 5px;

                & a {
                    font-size: 13.5px;
                    line-height: 25px;
                    font-weight: 500;
                    color: #6b778c;
                    margin-right: 3px;
                }
            }
        }

        & .font-features {
            margin: 17px 0 5px 0;
        }

        & div:last-child {
            font-size: 12.8px;
            color: #6b778c;
        }
    }

    & .articles {
        width: 100%;

        & .article1 {
            display: flex;
            width: 100%;
            height: 155px;
            border-radius: 5px;
            margin-top: 15px;
            padding: 12px;
            box-shadow: 0 0 6px 0 rgba(29, 88, 166, 0.16);
            background: #fff;


            & .article-left {
                & img {
                    width: 245px;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            & .article-right {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .content-above {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    width: 100%;


                    & .font-features {
                        font-size: 11.4px;
                        display: inline-block;
                    }

                    & .content-above-right {
                        line-height: 16px;
                        margin-left: 8px;

                        & i {
                            color: #808a9d;
                            font-size: 0.8rem;
                        }
                    }
                }

                & .content-under {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    & .group1 {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        & .group1-person {

                            & img {
                                display: flex;
                                width: 20px;
                                border-radius: 50%;
                            }
                        }

                        & .group1-text {
                            display: flex;
                            margin-left: 5px;

                            & div {
                                font-size: 11.8px;
                                line-height: 18px;
                                color: #42526e;
                            }
                        }
                    }

                    & .group2 {
                        display: flex;

                        & .group2-icon {
                            display: flex;
                            margin-right: 11px;
                            font-size: 11px;
                            line-height: 18px;
                            color: #6b778c;
                            cursor: pointer;

                            & i {
                                margin-right: 5px;
                            }
                        }

                        & .group2-icon:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }


        & .article2,
        .article3,
        .article4,
        .article5,
        .article6 {
            display: flex;
            width: 100%;
            height: 155px;
            border-radius: 5px;
            margin-top: 15px;
            padding: 12px;
            box-shadow: 0 0 6px 0 rgba(29, 88, 166, 0.16);
            background: #fff;


            & .article-left {
                & img {
                    width: 245px;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            & .article-right {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .content-above {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    width: 100%;


                    & .font-features {
                        font-size: 11.4px;
                        display: inline-block;
                    }

                    & .content-above-right {
                        line-height: 16px;
                        margin-left: 8px;

                        & i {
                            color: #808a9d;
                            font-size: 0.8rem;
                        }
                    }
                }

                & .content-under {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    & .group1 {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        & .group1-person {

                            & img {
                                display: flex;
                                width: 20px;
                                border-radius: 50%;
                            }
                        }

                        & .group1-text {
                            display: flex;
                            margin-left: 5px;

                            & div {
                                font-size: 11.8px;
                                line-height: 18px;
                                color: #42526e;
                            }
                        }
                    }

                    & .group2 {
                        display: flex;

                        & .group2-icon {
                            display: flex;
                            margin-right: 11px;
                            font-size: 11px;
                            line-height: 18px;
                            color: #6b778c;
                            cursor: pointer;

                            & i {
                                margin-right: 5px;
                            }
                        }

                        & .group2-icon:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .article-button {
        width: 100%;
        height: 40px;
        margin: 30px 0 41px 0;
        padding: 15px 0;
        border-top: 0.2px solid #e5ebef;
        border-bottom: 0.2px solid #e5ebef;
        display: flex;
        align-items: center;

        .inside-button {
            font-size: 11px;
            font-weight: bold;
            color: #172b4d;
            width: 100%;
            text-align: center;
        }
    }
}

#section-right {

    & .mv-articles {

        & .article1 {
            display: flex;
            margin-top: 22px;

            & .article-left {

                & img {
                    width: 74px;
                    height: 72px;
                    border-radius: 5px;

                }
            }

            & .article-right {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .content-above {
                    display: flex;
                    justify-content: center;
                    flex: 1;
                }

                & .content-under {
                    display: flex;
                    justify-content: space-between;

                    & .group1 {
                        display: flex;

                        & .group1-icon {
                            display: flex;
                            margin-right: 10px;
                            font-size: 11px;
                            line-height: 18px;
                            color: #6b778c;
                            opacity: 0.9;
                            cursor: pointer;

                            & i {
                                margin-right: 5px;
                            }
                        }

                    }

                    & .group2 {
                        margin-left: 8px;

                        & i {
                            color: #808a9d;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        & .article2,
        .article3,
        .article4,
        .article5 {
            display: flex;
            margin-top: 15px;

            & .article-left {

                & img {
                    width: 74px;
                    height: 72px;
                    border-radius: 5px;

                }
            }

            & .article-right {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: space-between;

                & .content-above {
                    display: flex;
                    justify-content: center;
                    flex: 1;
                }

                & .content-under {
                    display: flex;
                    justify-content: space-between;

                    & .group1 {
                        display: flex;

                        & .group1-icon {
                            display: flex;
                            margin-right: 10px;
                            font-size: 11px;
                            line-height: 18px;
                            color: #6b778c;
                            opacity: 0.9;
                            cursor: pointer;

                            & i {
                                margin-right: 5px;
                            }
                        }

                    }

                    & .group2 {
                        margin-left: 8px;

                        & i {
                            color: #808a9d;
                            font-size: 0.8rem;
                        }
                    }
                }
            }

        }
    }

    & .hashtag-box {

        & h2 {
            margin: 24px 0 17px 0;
        }

        & .hashtag-content {

            & div:first-child {
                background: #f5f6f8;
                border-radius: 3px;
                margin-left: -7px;
                padding: 4px 15px 2px 7px;
                margin-bottom: 3px;


                & .group-subtitle {
                    margin: 4px 0;
                    font-size: 11px;
                    color: #6b778c;
                }
            }

            & .hashtag-group {

                & .group-subtitle {
                    font-size: 11px;
                    margin: 5px 0;
                    color: #6b778c;
                }
            }
        }
    }

    & .best-contribution-box {

        & h2 {
            margin: 25px 0 15px 0;
        }

        & .contribution-person {

            & .person {
                display: flex;
                align-items: center;
                padding: 3px 0 15px;

                & .person-photo {
                    margin-right: 7px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    & img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                    }
                }

                & .person-content {
                    display: flex;
                    align-items: center;

                    & .person-name {
                        font-size: 13.2px;
                        font-weight: bold;
                        line-height: 16px;
                        color: #172b4d;
                        cursor: pointer;
                    }

                    & .person-post {
                        font-size: 12.8px;
                        line-height: 17px;
                        color: #6b778c;
                    }
                }
            }

            // .outside-dotted {
            //     padding:8px;

            //     & .dotted {
            //         width: 2.4px;
            //         height: 2.2px;
            //         background-color: #42526e;
            //         border-radius: 50%;
            //     }
            // }
        }




    }
}

@media (max-width: 1480px) {

    .layout {
        display: grid;
        grid-template-columns: 1.3fr 3.8fr 1.2fr;
        grid-gap: 1rem;
    }

    .container {
        margin: 2.6rem 1.6rem 0 1.6rem;
    }

    .outside-dotted {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;


        & .dotted {
            width: 2.2px;
            height: 2.2px;
            background-color: #42526e;
            border-radius: 50%;
        }
    }

    #section-left {
        width: 200px;
    }

    #section-middle {
        width: 750px;
    }

    #section-right {
        & .best-contribution-box {

            & .contribution-person {


                .outside-dotted {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    & .dotted {
                        width: 2.2px;
                        height: 2.2px;
                        background-color: #42526e;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}